@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #030014;

  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;

  --color-gray-100: #9ca4ab;

  --color-dark-100: #0f0d23;

  --font-dm-sans: DM Sans, sans-serif;

  --breakpoint-xs: 480px;
}

@layer base {
  body {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    background: #030014;
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-5xl leading-tight font-bold tracking-[-1%] text-white sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-medium text-white sm:text-3xl;
  }

  main {
    @apply bg-primary relative min-h-screen;
  }
}
@layer utilities {
  @keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes bounceOut {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(0.9);
      opacity: 0.5;
    }
    100% {
      transform: scale(0.3);
      opacity: 0;
    }
  }

  @keyframes bounceLoop {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-4px);
    }
  }
  /* Custom animation utilities */
  .animate-bounceIn {
    animation: bounceIn 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .animate-bounceOut {
    animation: bounceOut 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .animate-bounceLoop {
    animation: bounceLoop 3s ease-in-out infinite;
  }
}
@layer components {
}

@utility text-gradient {
  @apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
}

@utility fancy-text {
  -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
  font-size: 190px;
  font-family: "Bebas Neue", sans-serif;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.customProgressBar {
  background: rgba(196, 196, 196, 0.3);
  backdrop-filter: blur(4.5px);
  width: 200px;
  box-sizing: border-box;
  height: 12px;
  border-radius: 5px;
  cursor: pointer;
}
